@model IEnumerable<Product>

@{ 
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<table class="table-sm table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
	    {
		    <tr>
                <td>
                    @prod.Name
                </td>
                <td>
                    @prod.Price
                </td>
            </tr>
	    }
    </tbody>
</table>

<a asp-action="Create" asp-controller="Home" class="btn btn-primary">Add new product</a>